* 
{
    margin: 0;
    padding: 0;
    font-family: 'Muli';
    scroll-behavior: smooth;
}

.row
{
    max-width: 1200px;
    padding: 3%;
}

.logo img{
    max-width: 10%;
    float: left;
}

.kanan
{
    float: right;
}

.welcome
{
    text-align: center;
    font-size: 50px;
    padding-top: 13%;
    padding-bottom: 15%;
}

header
{
    background-color: turquoise;
}

section
{
    background-color: aqua;
}

.foto img
{
    border-radius: 100%;
    max-width: 80%;
}

.intro h1
{
    color: red;
    padding-top: 7%;
    font-size: 225%;
    text-align: right;
}

.intro p
{
    font-size: 150%;
    text-align: right
}

@media only screen and (max-width: 720px) {
    .intro h1
    {   

        text-align: center;
    }
    .intro p
    {
        text-align: center;
    }
}


.organisasi img
{
    max-height: 125px;
    border-radius: 100%;
}

.organisasi h1
{
    font-size: 175%;
}

.organisasi p
{
    font-size: 150%;
    margin: 0;
}

.medsos img
{
    max-height: 100px;
    width: auto;
}

.medsos p 
{
    font-size: 150%;
}


.fotokiri img
{
    max-width: 60%;
}

.fotokanan img
{
    max-width: 100%;
}

.font h1
{
    font-size: 3vw;
}