<html>
    <head>
        <title>alfisyakir</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>

<body style="background: turquoise;">
    <header>
    {% include 'nav2.html' %}
    </header>
    <section class="container-fluid w-100 d-flex flex-column flex-lg-row justify-content-center align-items-center" style="background: turquoise;" >
        <div class="row bg-white m-auto w-50" style="overflow: hidden; overflow-y:auto; height: 70%;">
            <div> 
                <h1>Daftar Jadwal</h1>
            </div>
            {% for data in jadwalbos %}
            
            <div class="row bg-white m-auto p-3">
            <div class="col-sm-4 mt-2"><h5>Nama Kegiatan</h5></div>
            <div class="col-sm-8 mt-2"><p>: {{ data.nama }}</p></div>
            <div class="col-sm-4"><h5>Tempat</h5></div>
            <div class="col-sm-8"><p>: {{ data.tempat }}</p></div>
            <div class="col-sm-4"><h5>Kategori</h5></div>
            <div class="col-sm-8"><p>: {{ data.kategori }}</p></div>
            <div class="col-sm-4"><h5>Tanggal</h5></div>
            <div class="col-sm-8"><p>: {{ data.tanggal }}</p></div>
            <div class="col-sm-4"><h5>Waktu</h5></div>
            <div class="col-sm-8"><p>: {{ data.waktu }}</p></div>
            <div class="col-sm-12 d-flex align-items-end justify-content-end">
                <form method="POST" action="{% url 'daftarjadwal' %}">
                {% csrf_token %}
                <input name="id" value="{{i.id}}" type="hidden">
                <input type="submit" value="Delete" class="btn btn-primary mx-auto mt-2" name='tombol'>                
                </form>
            </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>
