{% load static %}
<html>
    <head>
        <title>alfisyakir</title>
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        
        <header style="height: 720px">            
            {% include 'nav.html' %}

            <div class="welcome">
                    <h1>Welcome to</h1>
                    <h1>My Profile</h1>
            </div>
        </header>

        <section id="about-btn" style="height: 720px">
            <div class="container profil" >
                <div class="row" style="padding-top: 25%;">
                    <div class="col-md-4 order-md-1 foto text-center">
                        <img src="{% static 'img/profil.jpg' %}">
                    </div>
                    <div class="col-md-8 order-md-2 intro text-md-center">
                        <h1>MUHAMMAD ALFI SYAKIR</h1>
                        <p>Information System Fasilkom</p>
                        <p>Universitas Indonesia</p>
                    </div>
                </div>
            </div>
        </section>

        <section style="background-color:turquoise; height: 720px">
            <div class="container organisasi" >
                <div class="row" style="padding-top: 25%;">
                    <div class="col-sm">
                        <h1 class="text-center">Description</h1>
                        <p class="text-center">I am a Javanese from Magelang, 
                                Central Java and interested in 
                                IT-related field. I have a good 
                                ability to both works in
                                teams and independently, 
                                and have good communication skills.</p>
                    </div>
                    <div class="col-sm">
                        <h1 class="text-center">Skills</h1>
                        <p class="text-center">Python</p>
                        <p class="text-center">Java</p>
                        <p class="text-center">Teamwork</p>
                        <p class="text-center">Organize Event</p>
                        <p class="text-center">Communication</p>
                        <p class="text-center">Design</p>
                    </div>
                </div>    
            </div>
        </section>

        <section style="height: 720px">
            <div class="container organisasi" style="text-align: center">
                <div class="row" style="padding-top: 25%;">
                    <div class="col-sm">
                        <img src="{% static 'img/compfest.jpg' %} " class="img-fluid" alt="Responsive image">
                        <p>Staff of Startup Academy</p>
                        <h1>COMPFEST 11</h1>
                    </div>
                    <div class="col-sm">
                            <img src="{% static 'img/educare.png' %}" class="img-fluid" alt="Responsive image">
                            <p>Staff of Seminar and Talkshow</p>
                            <h1>Educare 2019</h1>
                    </div>
                    <div class="col-sm">
                            <img src="{% static 'img/fuki.png' %}" class="img-fluid" alt="Responsive image">
                            <p>Staff of Public Relation</p>
                            <h1>FUKI Fasilkom 2019</h1>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact-btn" style="background-color:white; text-align: center; height: 720px">
            <div class="container medsos" style="padding-top: 25%">
                <div class="row">
                    <div class="col-sm">
                        <a href="http://instagram.com/alfisyk"><img src="{% static 'img/instagram.png' %}" class="img-fluid" alt="Responsive image"></a>
                        <p>@alfisyk</p>
                    </div>
                    <div class="col-sm">
                        <a href="https://www.linkedin.com/in/alfisyakir/"><img src="{% static 'img/linkedin.png' %}" class="img-fluid" alt="Responsive image"></a> 
                        <p>Muhammad Alfi Syakir</p>
                    </div>
                    <div class="col-sm">
                        <a href="https://twitter.com/alfisyk"><img src="{% static 'img/twitter.png' %}" class="img-fluid" alt="Responsive image"></a> 
                        <p>@alfisyk</p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>