{% load static %}
<html>
    <head>
        <title>alfisyakir</title>
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </head>

<body>
    <header>
        {% include 'nav2.html' %}
        
        <div class="container" style="padding-top: 5%">
            <div class="row">
                <div class="col fotokiri">
                    <img src="{% static 'img/foto1.JPG' %}">
                </div>
                <div class="col font">
                    <h1 style="padding-top: 40%; text-align: center">alfisyakir's gallery</h1>
                </div>
            </div>

            <div class="row">
                <div class="col font">
                    <h1 style="padding-top: 30%; text-align: center">Newbie</h1>
                </div>
                <div class="col fotokanan">
                    <img src="{% static 'img/foto2.JPG' %}">
                </div>
            </div>

            <div class="row">
                <div class="col fotokiri">
                    <img src="{% static 'img/foto3.jpg' %}">
                </div>
                <div class="col font">
                    <h1 style="padding-top: 40%; text-align: center">Retro</h1>
                </div>
            </div>

            <div class="row">
                <div class="col font">
                    <h1 style="padding-top: 30%; text-align: center">Small Group</h1>
                </div>
                <div class="col fotokanan">
                    <img src="{% static 'img/foto4.JPG' %}">
                </div>
            </div>

            <div class="row">
                <div class="col fotokiri">
                    <img src="{% static 'img/foto5.jpg' %}">
                </div>
                <div class="col font">
                    <h1 style="padding-top: 40%; text-align: center">Photo Shoot</h1>
                </div>
            </div>

            <div class="row">
                <div class="col font">
                    <h1 style="padding-top: 30%; text-align: center">Jump</h1>
                </div>
                <div class="col fotokanan">
                    <img src="{% static 'img/foto6.jpg' %}">
                </div>
            </div>

            <div class="row">
                <div class="col fotokiri">
                    <img src="{% static 'img/foto7.jpg' %}">
                </div>
                <div class="col font">
                    <h1 style="padding-top: 40%; text-align: center">Peace</h1>
                </div>
            </div>

            <div class="row">
                <div class="col font">
                    <h1 style="padding-top: 30%; text-align: center">Music</h1>
                </div>
                <div class="col fotokanan">
                    <img src="{% static 'img/foto8.JPG' %}">
                </div>
            </div>

        </div>
        
    </header>
</body>

</html>