<html>
    <head>
        <title>alfisyakir</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>

<body style="background: turquoise">
    {% include 'nav2.html' %}
    <header class="half container-fluid flex-column flex-lg-row" style="padding-top: 5%">
        <div>
            <h1 class="text-center">Data Jadwal</h1>
        </div>
        <div class="schedule col-sm d-flex justify-content-center align-items-center">
            <form class="d-flex flex-column my-2 w-75" method="POST" action='/daftarjadwal/'>
            {% csrf_token %}
            {% for forms in generated_html %}
            <p class="w-100 justify-content-center my-1">{{ forms.label }}: <br> {{ forms }}</p>
            {% endfor %}
            <input type="submit" value="Submit" class="btn btn-primary mx-auto mt-2" name='tombol'>
            </form>
        </div>
    </header>
</body>
</html>