{% load static %}
<!-- header-navbar
    ====================================================================== -->
    <nav class="navbar navbar-expand-lg navbar-light" style="padding: 3vw">
            
        <div class="navbar-collapse" id="navbarNavAltMarkup">
            <div class="logo">
                <img src="{% static 'img/alfisyakir.png' %}">
            </div>
            <div class="navbar-nav kanan">
            <a class="nav-item nav-link active" href="{% url 'index' %}">profile</a>
            <a class="nav-item nav-link active" href="{% url 'index2' %}">gallery</a>
            <a class="nav-item nav-link active" href="{% url 'indexs' %}">+jadwal</a>
            <a class="nav-item nav-link active" href="{% url 'daftarjadwal' %}">lihatjadwal</a>
            </div>
        </div>
    </nav>
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>